# VacationPy
----

#### Map and Find Ideal Weather Hotels Using WeatherPy Cities Results

In [74]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import api_key as gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [75]:
Cities_DF = pd.read_csv('../output_data/Cities.csv')
Cities_DF.head()

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
0,ushuaia,AR,37.40,89,91,6.93,-54.80,-68.30,1592688876
1,butaritari,KI,83.14,77,98,11.23,3.07,172.79,1592688876
2,mataura,NZ,39.00,83,33,3.00,-46.19,168.86,1592688877
3,tsabong,BW,53.10,44,0,7.52,-26.02,22.40,1592688877
4,qaanaaq,GL,40.42,69,99,7.87,77.48,-69.36,1592688877

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [76]:
#configure gmaps
gmaps.configure(api_key=gkey)

#get locations and humidity
city_locations = Cities_DF[['Latitude', 'Longitude']].astype(float)
humidity = Cities_DF['Humidity'].astype(float)

#format layout of map
layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'}

#add heatmap
fig = gmaps.figure(map_type='HYBRID', layout=layout)

heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [77]:
myFavoriteWeather = Cities_DF.loc[(Cities_DF['Temperature'] >= 70) & (Cities_DF['Temperature'] <= 80) & 
                                  (Cities_DF['Windspeed'] <= 20) & (Cities_DF['Humidity'] <= 30)]
myFavoriteWeather

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
131,kazerun,IR,77.27,17,0,2.46,29.62,51.65,1592688619
193,yumen,CN,74.07,29,100,9.78,40.28,97.20,1592688891
276,deputatskiy,RU,77.32,25,0,2.89,69.30,139.90,1592688897
305,korla,CN,71.76,22,7,17.74,41.76,86.15,1592688899
349,hami,CN,76.59,19,96,13.49,42.80,93.45,1592688903
374,rawlins,US,73.40,16,1,19.46,41.79,-107.24,1592688905
416,nurota,UZ,73.40,25,0,6.93,40.56,65.69,1592688908

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [78]:
hotel_df = myFavoriteWeather
hotel_df.reset_index(drop=True, inplace=True)
hotel_df

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Latitude,Longitude,Date
0,kazerun,IR,77.27,17,0,2.46,29.62,51.65,1592688619
1,yumen,CN,74.07,29,100,9.78,40.28,97.20,1592688891
2,deputatskiy,RU,77.32,25,0,2.89,69.30,139.90,1592688897
3,korla,CN,71.76,22,7,17.74,41.76,86.15,1592688899
4,hami,CN,76.59,19,96,13.49,42.80,93.45,1592688903
5,rawlins,US,73.40,16,1,19.46,41.79,-107.24,1592688905
6,nurota,UZ,73.40,25,0,6.93,40.56,65.69,1592688908

In [79]:
hotel_df['Hotel Name'] = ''

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 50000,
    "rankby": "prominence",
    "types": "lodging",
    "keyword": "hotel",
    "key": gkey,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get variables type from df
    lat = row['Latitude']
    lng = row['Longitude']
    city = row['City']
    params["location"] = f'{lat},{lng}'
        
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {city} hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except:
        print(f"Missing field/result for {city}... skipping.")
        
    print("------------")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Closest kazerun hotel is Bishapour Hotel.
------------

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest yumen hotel is Mingzhu Hotel.
------------
Missing field/result for deputatskiy... skipping.
------------
Closest korla hotel is The Garden Hotel Korla.
------------
Closest hami hotel is Hami Hotel.
------------
Closest rawlins hotel is Hampton Inn Rawlins.
------------
Closest nurota hotel is Guest House Ruslan Nurata & Tours.
------------

In [80]:
hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]
hotel_df = hotel_df.rename(columns={"Latitude": "Lat", "Longitude": "Lng"})
hotel_df

,City,Country,Temperature,Humidity,Cloudiness,Windspeed,Lat,Lng,Date,Hotel Name
0,kazerun,IR,77.27,17,0,2.46,29.62,51.65,1592688619,Bishapour Hotel
1,yumen,CN,74.07,29,100,9.78,40.28,97.20,1592688891,Mingzhu Hotel
2,deputatskiy,RU,77.32,25,0,2.89,69.30,139.90,1592688897,
3,korla,CN,71.76,22,7,17.74,41.76,86.15,1592688899,The Garden Hotel Korla
4,hami,CN,76.59,19,96,13.49,42.80,93.45,1592688903,Hami Hotel
5,rawlins,US,73.40,16,1,19.46,41.79,-107.24,1592688905,Hampton Inn Rawlins
6,nurota,UZ,73.40,25,0,6.93,40.56,65.69,1592688908,Guest House Ruslan Nurata & Tours

In [81]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [82]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))